.top-image {
 background-image: url("https://picsum.photos/1200/300/?grayscale");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 300px;
 background-color: gray;
 font-family: "Krona One";
}

.text-box {
 box-shadow: 2px -2px 15px;
}

.bg-blue {
 background-color: #08f;
}

.bg-aquagreen {
 background-color: #acfcee;
}